

#userManagement
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.selector
{
	margin-left: 25px;
}

#usersInGroup h3
{
	margin-top: 67px;
}

#buttons button
{
	display: block;
	border: 1px solid blue;
	border-radius: 3px;
	
}

#buttons
{
	padding-top: 200px;
	padding-bottom: auto;
}

#userManagement select
{
	background-color: aqua;
	border: 1px solid blue;
	min-width: 100px;
}